::selection {
  color: $color--secondary;
  background: lighten($color--primary, 10%);
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $color--primary;
  background-color: $color--vanilla;
}

main {
  overflow: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--primary;
  font-weight: 300;
  color: $color--primary;
}

p, ul, li, ol, div, table, button, input, select, textarea {
  @include paragraph-p1(300);
  font-family: $font--primary;
}

a {
  font-family: $font--primary;
  color: $color--primary;
}

//.btn {
//  @include st-transition;
//  display: inline-flex;
//  text-decoration: none;
//  align-items: center;
//  background: none;
//  border: none;
//  padding: 0;
//  letter-spacing: 1.6px;
//
//  &.btn--black {
//    position: relative;
//
//    @include breakpoint(medium) {
//      &:hover {
//        color: $color--scarlet;
//      }
//    }
//  }
//
//  &.btn--scarlet {
//    @include subheading-s1(500);
//    line-height: 1;
//    font-family: $font--secondary;
//    border: 1.5px solid $color--scarlet;
//    position: relative;
//    background-color: $color--scarlet;
//    padding: 12px 22px;
//    color: $color--vanilla;
//
//    @include breakpoint(medium) {
//      &:hover {
//        color: $color--scarlet;
//        background-color: transparent;
//      }
//    }
//  }
//
//  &.btn--border {
//    @include subheading-s1(500);
//    line-height: 1;
//    font-family: $font--secondary;
//    border: 1.5px solid $color--scarlet;
//    position: relative;
//    background-color: transparent;
//    padding: 12px 22px;
//
//    @include breakpoint(medium) {
//      &:hover {
//        color: $color--vanilla;
//        background-color: $color--scarlet;
//      }
//    }
//  }
//
//  &.btn--vanilla {
//    @include subheading-s1(500);
//    background-color: $color--vanilla;
//    padding: 10px 40px;
//    text-transform: uppercase;
//    letter-spacing: 1px;
//
//    @include breakpoint(medium) {
//    }
//
//    &:hover {
//      background-color: $color--scarlet;
//      color: $color--vanilla;
//    }
//  }
//}

.page-template--events {
  .title-content-image {
    &:first-of-type {
      @include breakpoint(medium) {
        padding: 116px 0 0 0;
      }
    }
  }
}

.page-template--menu, .page-template--terms-conditions, .page-template--terms, .page-template--privacy-policy, .page-template--events, .page-template--faqs {
  background-image: url('../images/cheri-pattern.svg');
  background-size: 720px;
  background-position: 0 -25px;
  background-repeat: repeat;
  @include breakpoint(medium) {
    background-size: 1320px;
    background-position: 0 -55px;
  }
}