@font-face {
  font-family: 'StyreneBLC';
  src: url('../fonts/StyreneBLC-Bold.woff2') format('woff2'),
  url('../fonts/StyreneBLC-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StyreneBLC';
  src: url('../fonts/StyreneBLC-Regular.woff2') format('woff2'),
  url('../fonts/StyreneBLC-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StyreneBLC';
  src: url('../fonts/StyreneBLC-Medium.woff2') format('woff2'),
  url('../fonts/StyreneBLC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSans';
  src: url('../fonts/MessinaSans-Regular.woff2') format('woff2'),
  url('../fonts/MessinaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Granville';
  src: url('../fonts/Granville-Regular.woff2') format('woff2'),
  url('../fonts/Granville-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
