.image-carousel {
  margin: 0 0 65px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include breakpoint(medium) {
    margin: 0 0 100px 0;
  }

  &__title {
    margin: 0 0 40px 0;
    background-color: $color--vanilla;

    @include breakpoint(medium) {
      max-width: 820px;
      margin: 0 auto 60px auto;
    }

    h2 {
      @include heading-h4(400);
      font-family: $font--heading;
      text-align: center;

      @include breakpoint(medium) {
        @include heading-h2(400);
        letter-spacing: 0.4px;
      }
    }
  }

  &__inner {
    @include inner
  }

  &__item {
    padding: 0 12px;

    @include breakpoint(medium) {
      padding: 0 20px;
    }
  }

  .slick-list {
    overflow: visible !important;
  }

  .slick-slide {
    background-color: $color--vanilla;
  }
}

.page-template--home {
  .image-carousel {
    background-image: none !important;
  }
}